{%extends "base.html"%}
{%block titre_page%}
Bienvenue 
{%endblock%}
{%block contenu%}
<div class="container">
        <p>La raison d’être de l’Association Don Bosco est d’imaginer et de développer toutes formes d’activités solidaires,
            pour renforcer les liens sociaux et contribuer à l’inclusion sociale de tous, en particulier des personnes fragilisées en raison de difficultés particulières personnelles,
            familiales ou professionnelles ou de handicaps.</p>
    </div>
    <div class="container">
    <p>Crée en 1946 notre association compte 105 adherents , 9744 usagers et 913 salariés.Véritable entreprise sociale,

        son seul métier est l’action sociale et médico-socialeElle intervient dans le registre des services aux personnes handicapées 

        et âgées, de la protection de l’enfance, de l’insertion sociale et professionnelle,

        de l'accompagnement des personnes sous main de justice et de l'éducation à l'environnement.

        Don Bosco est une organisation laïque, non confessionnelle, indépendante de tout parti politique.
        
        Elle regroupe des citoyens engagés pour construire une société plus solidaire dans laquelle chaque personne peut trouver sa place et se réaliser par une participation à la vie de la cité.
        L'Agenda 21 2020 - 2024
        
        Le projet associatif Don Bosco est le fruit d'un travail collaboratif mené avec les cadres, professionnels, adhérents, partenaires, usagers et représentants d'usagers de l'Association Don Bosco.
        
        Véritable feuille de route pour les années à venir ,il se décline autour de 4 axes principaux : 
        <ul>
            <li>FAIRE EVOLUER LES REPONSES AU PUBLIC BENEFICIAIRE DE NOS ACTIONS.</li>
            <li>ADAPTER LA GESTION DES RESSOURCES HUMAINES SALARIEES ET BENEVOLES A NOTRE ORGANISATION.</li>
            <li>OPTIMISER ET DIVERSIFIER NOS RESSOURCES FINANCIERES. </li>
            <li>STRUCTURER UNE UNION D’ECONOMIE SOCIALE POUR L’EDUCATION ET L’INCLUSION.</li>
        </ul>
        
        
         
        
        
        
         </p>
</div>
</div>


{%endblock%}
